<%- include('./partials/header.ejs')%>
<title>ITIS 6177 Final Project</title> 
  <div class="input-container">
    <h1>Azure Translate</h1>
    <p>Welcome to my final project for ITIS 6177.<br><br>
    This project serves as an API connecting you, the user, to Microsoft Azure's Translator API, providing an intuitive and seamless design.</p> 
    <h2>Language List</h2>
    <a href="/API/languages/?scope=translation"><button class="button">See Available Languages</button></a><br><br>

    <script>
      function process()
      {
          var url = "/API/detect/?text=" + document.getElementById("input").value;
          location.href = url;
          return false;
      }
  </script>
  <h2>Language Detection</h2>
  <form onSubmit="return process();">
    <div class="input-group">
      <label for="text-input">Input Text:</label>
      <input type="text" id="text-input">
      </div>
      <input type="submit" value="Detect Language" class="submit-button">
  </form><br>

  <script>
    function process2()
    {
        var url = "/API/translate/?text=" + document.getElementById("input2").value + "&to=" + document.getElementById("lang").value;
        location.href = url;
        return false;
    }
</script>
<h2>Translation</h2>
<form onSubmit="return process2();">
  <div class="input-group">
    <label for="text-input">Input Text:</label>
    <input type="text" id="text-input">
  </div>

  <div class="input-group">
    <label for="language-input">Input Language Code:</label>
    <input type="text" id="language-input">
  </div>

  <p class="message">Input must be formatted as a two character language code. To view all language codes, see above.</p>
  <input type="submit" value="Translate" class="submit-button">
</form><br><br><br>


  </div>
<%- include('./partials/footer.ejs')%>